[data-rwp-wrapper] {
  display: flex;
  position: relative;
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
  overflow: hidden;
  perspective: 2000px;
  -webkit-user-select: none;
  user-select: none;
}

[data-rwp] {
  position: relative;
  flex: 1;
  overflow: hidden;
  cursor: ns-resize;
  text-align: center;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 20%,
    black 80%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 20%,
    black 80%,
    transparent 100%
  );
}

[data-rwp-highlight-wrapper] {
  position: absolute;
  top: 50%;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  overflow: hidden;
  transform: translateY(-50%);
}

[data-rwp-highlight-list] {
  position: absolute;
  width: 100%;
  list-style: none;
}

[data-rwp-options] {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  will-change: transform;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  list-style: none;
}

[data-rwp-option] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  will-change: visibility;
  font-size: 0.875rem;
}
